@model string

<div class="alert alert-success alert-dismissable alert-skinny">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <span><strong>Success: </strong>@Model</span>
</div>