@model AjaxFormNotifications.Controllers.Data

<div id="my-target"></div>

@using (
    Ajax.BeginForm(
        "SaveJsonForm",
        new AjaxOptions
        {
            HttpMethod = "Post",
            OnSuccess = "onJsonSuccess(data);",
            OnFailure = "onJsonFailure(xhr);"
        }))
{
    @Html.LabelFor(model => Model.Value)
    @Html.EditorFor(model => Model.Value)

    <input type="submit" value="Save"/>
}

@section scripts
{
    @Scripts.Render("~/bundles/jquery");
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/app.js"></script>
}